.daily-container {
  box-sizing: border-box;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 35px 25px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.hourly-forecast {
  display: flex;
  padding: 20px 0 50px;
  font-size: 19px;
  background: white;
}

.history-btn {
  align-self: flex-end;
  position: relative;
  right: 265px;
  padding: 10px 20px;
  width: 163px;
  font-size: 18px;
  background: #03c9ec;
  color: white;
  border: none;
  outline: none;
}

.history-btn:hover {
  background: #00b8d8;
  cursor: pointer;
}