.daily-container {
  box-sizing: border-box;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 35px 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  letter-spacing: 1px;
}

.location {
  color: white;
  margin: 50px 0 20px 80px;
}

.location h1,
.location h2 {
  margin: 0;
  font-weight: 500;
}

.location h1 {
  font-size: 34px;
}

.location h2 {
  font-size: 30px;
}

.sub-header ul {
  display: flex;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-header ul li {
  margin-left: 1px;
}

.sub-header ul li a {
  color: black;
  text-decoration: none;
}

.sub-header ul li:not(:nth-child(2)) {
  background: white;
  padding: 15px 30px;
  font-size: 23px;
  border-bottom: 10px solid #F29A40;
}

.sub-header ul li:nth-child(2) {
  background: white;
  padding: 20px 160px 55px;
  font-size: 42px;
  border-top: 10px solid #F29A40;
}

.hourly-forecast {
  display: flex;
  padding: 20px 0 50px;
  font-size: 19px;
  background: white;
}

.hourly-forecast .hour-keys {
  flex-basis: 14%;
  padding-right: 25px;
  border-right: 1px dashed #C0C0C0;
}

.hourly-forecast .hour-keys div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hourly-forecast .hour-keys div:nth-child(1) {
  margin-bottom: 240px;
}

.hourly-forecast .hour-keys div:nth-child(1) span:nth-child(1) {
  font-weight: bold;
}

.hourly-forecast .hour-keys div:nth-child(1) span:nth-child(2) {
  color: #C0C0C0;
  font-size: 21px;
}

.hourly-forecast .hour-keys div:nth-child(2) p {
  width: 124px;
  text-align: end;
  margin-bottom: 90px;
}

.hourly-forecast .hour-keys div:nth-child(3) p {
  margin-bottom: 15px;
}

.hourly-forecast .hour-values-container {
  display: flex;
  width: 1234px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.hourly-forecast  .hour-values-container .hour-value {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-forecast  .hour-values-container .hour-value:not(:first-child) {
  border-left: 1px dashed #C0C0C0;
}

.hourly-forecast  .hour-values-container .hour-value div {
  text-align: center;
}

.hourly-forecast  .hour-values-container .hour-value .time {
  margin: 2px 0 60px;
  display: flex;
  flex-direction: column;
}

.hourly-forecast  .hour-values-container .hour-value .time span:nth-child(1) {
  font-weight: bold;
}

.hourly-forecast  .hour-values-container .hour-value .time span:nth-child(2) {
  color: #C0C0C0;
}

.hourly-forecast  .hour-values-container .hour-value .weather {
  margin-bottom: 80px;
}

.hourly-forecast  .hour-values-container .hour-value .weather .icon {
  height: 70px;
  width: 100px;
  margin: 0 18px 20px;
}

.hourly-forecast  .hour-values-container .hour-value .weather .icon img {
  width: 100%;
}

.hourly-forecast  .hour-values-container .hour-value .weather .temp {
  color: #F29A40;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hourly-forecast  .hour-values-container .hour-value .weather .temp span:nth-child(1) {
  font-size: 28px;
}

.hourly-forecast  .hour-values-container .hour-value .wind-speed-icon {
  margin-bottom: 100px;
}

.hourly-forecast  .hour-values-container .hour-value .wind-speed-icon .icon {
  color: #dadada;
}

.hourly-forecast  .hour-values-container .hour-value .wind-speed-icon .value {
  color: #C8E4ED;
}

.hourly-forecast  .hour-values-container .hour-value .feels-like,
.hourly-forecast  .hour-values-container .hour-value .wind-speed,
.hourly-forecast  .hour-values-container .hour-value .wind-direction,
.hourly-forecast  .hour-values-container .hour-value .atm-pressure {
  margin-bottom: 35px;
}

.icons span:nth-child(1),
.icons span:nth-child(4) {
  text-decoration: none;
  font-size: 8em;
  color: #ECC896;
  position: relative;
  bottom: 430px;
}

.icons span:nth-child(2),
.icons span:nth-child(5) {
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  color: darkgray;
  position: relative;
  bottom: 472px;
}

.icons span:nth-child(3),
.icons span:nth-child(6) {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  color: lightgray;
  position: relative;
  bottom: 478px;
}

.icons span:nth-child(1) {
  right: -196px;
}

.icons span:nth-child(2) {
  right: -105px;
}

.icons span:nth-child(3) {
  right: -90px;
}

.icons span:nth-child(4) {
  right: -1184px;
}

.icons span:nth-child(5) {
  right: -1113px;
}

.icons span:nth-child(6) {
  right: -1086px;
}