.daily-container {
  box-sizing: border-box;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 35px 25px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.hourly-forecast {
  display: flex;
  padding: 20px 0 50px;
  font-size: 19px;
  background: white;
}

.hourly-forecast .hour-values-container {
  display: flex;
  width: 1234px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}