.metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.show-form-btn-container {
  align-self: flex-start;
  position: relative;
  bottom: 41px;
}

.show-form-btn {
  position: relative;
  right: -1187px;
}

.show-form-btn,
.add-metrics-form button {
  padding: 10px 20px;
  font-size: 18px;
  background: #03c9ec;
  color: white;
  border: none;
  outline: none;
}

.show-form-btn:hover,
.add-metrics-form button:hover,
.add-metrics-form .close:hover {
  background: #00b8d8;
  cursor: pointer;
}

.add-metrics-form {
  background: white;
  position: relative;
  border-radius: 4px;
  border: 3px solid lightgray;
  padding: 10px 20px 20px;
}

.add-metrics-form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border: none;
}

.add-metrics-form .close {
  align-self: flex-end;
  padding: 4px 8px;
  margin-bottom: 5px;
  border-radius: 50%;
  background: #03c9ec;
  color: white;
}

.add-metrics-form .form-group {
  font-weight: bold;
  margin: 10px 0;
}

.add-metrics-form .form-group:not(:nth-child(2), :nth-child(3)) input {
  width: 50px;
}

.add-metrics-form .error {
  font-weight: bold;
  margin: 0;
  color: red;
}

.add-metrics-form fieldset > .error {
  text-align: center;
  margin-top: 10px;
}

.add-metrics-form button {
  align-self: center;
  padding: 5px 10px;
  margin: 20px 0 0;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 6%;
}